*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

main{
    background-color: lightgrey;
}

img{
    display: block;
    width: 100%;
}

header{
    overflow: hidden;
    background-color: #e0e7f9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
}

header >div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    color: #1f1f1f;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
}

#ommeg{
    display: flex;
    justify-content: center;
    height: auto;
    width: 56%;
    max-width: 850px;
    margin: auto;
    padding-top: 13%;
    outline: 2px solid red;
}

#ommeg >div{
    font-family: 'Arya', sans-serif;
    text-align: left;
    width: 100%;
}

.image-container >img{
    width: 100%;
    padding-top: 1.5em;
    margin-right: auto;
}

#ommeg >div:first-child{
    flex: 4;
    padding-right: 2%;
}

#ommeg >div:nth-child(2){
    flex: 1.5;
}

#ommeg >div p{
    font-size: 1.5rem;
    text-decoration: none;
}

/* -------------------------- */
#prosjekter-2{
    font-family: 'Arya', sans-serif;
    width: 100%;
    max-width: 1200px;
    grid-auto-columns: 200px;
    outline: 2px solid red;
    gap: 2.5%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-top: 10%;
}

.prosjekt .img-container{
    text-align: left;
    position: relative;
}

.img-container .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    width: 100%;
    height: 100%;
    padding-left: 1em;
    overflow-x: hidden;
    display: none;
}

.img-container .overlay.open{
    display: block;
}

.prosjekt:nth-child(even){ 
    text-align: right; 
}

button{
    cursor: pointer;
    font-family: inherit;
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: white;
    border-radius: 5%;
}

button:hover{
    background-color: #dddddd;
    transition: ease .3s;
}

.img-container a{
    text-decoration: none;
    color: white;
    border-radius: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.img-container a:hover{
    background-color: grey;
    transition: ease .3s;
}

.img-container >img{
    width: 100%;
}
/* -------------------------- */

footer{
    font-family: 'Arya', sans-serif;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    font-size: .6rem;
    padding-top: .5%;
}